# Messaging API
NEXT_PUBLIC_LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_CHANNEL_ACCESS_TOKEN=

# LINE Login
NEXT_PUBLIC_LINE_LOGIN_CHANNEL_ID=
LINE_LOGIN_CHANNEL_SECRET=

# Telegram Bot
TELEGRAM_BOT_TOKEN=

# Firebase Admin SDK (For background Cron Jobs)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Vercel Cron Secret (To protect your cron endpoint, generate your own random string)
CRON_SECRET=
